.hero-backdrop.is-hidden {
  opacity: 0;
}

.hero-backdrop {
  position: fixed;
  z-index: 1;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modall-hero;

  transition: opacity 250ms $cubic-bezer,
    visibility 250ms $cubic-bezer;
}

.hero-backdrop.is-hidden .modall {
  transform: translate(-50%, -50%) scale(1.15);
}

.modall {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  padding: 40px;

  background-color: $prime-bgc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms $cubic-bezer;
}

.modall__title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 8px;
  right: 8px;

  background-color: inherit;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: $logo-header-color;

  transition: color 250ms $cubic-bezer;

  &:hover {
    color: $acent-color;
  }
}

.btn-close__icon {
  fill: currentColor;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__field,
.form__field-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__field-textarea {
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $second-color;
}

.form__wrap-input {
  position: relative;
}

.form__input {
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;

  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  outline: none;

  transition: border 250ms $cubic-bezer;

  &:hover,
  &:focus {
    border: solid 1px $acent-color;
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: $prime-color;
    -webkit-box-shadow: 0 0 0 30px $prime-bgc inset;
    caret-color: $prime-color;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  pointer-events: none;

  transition: fill 250ms $cubic-bezer;

  .form__input:hover + &,
  .form__input:focus + & {
    fill: $acent-color;
  }
}

.form__textarea {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  outline: none;

  transition: border 250ms $cubic-bezer;

  &:hover,
  &:focus {
    border: solid 1px $acent-color;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
  }
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form__agree {
  fill: transparent;
  border: 2px solid $prime-color;
  border-radius: 2px;
  margin-right: 7px;

  transition: fill 250ms $cubic-bezer,
    background-color 250ms $cubic-bezer;

  .form__ckeckbox:checked + & {
    background-color: $acent-color;
    fill: $footer-btn-color;
    border-radius: 2px;
    border: none;
  }
}

.form__license {
  line-height: 1.71;
  color: $second-color;
}

.form__license-link {
  line-height: 1.71;
  color: $acent-color;
}

.form__btn {
  padding: 10px 0;
  width: 200px;
  margin: 0 auto;
}
