.hero-backdrop.is-hidden {
  opacity: 0;
}

.hero-backdrop {
  position: fixed;
  z-index: 1;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modall-hero;

  transition: opacity 250ms $cubic-bezer,
    visibility 250ms $cubic-bezer;
}

.hero-backdrop.is-hidden .modall {
  transform: translate(-50%, -50%) scale(1.15);
}

.modall {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: $prime-bgc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms $cubic-bezer;
}

.modall__title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 8px;
  right: 8px;

  background-color: inherit;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: $logo-header-color;

  transition: color 250ms $cubic-bezer;

  &:hover {
    color: $acent-color;
  }
}

.btn-close__icon {
  fill: currentColor;
}
