.logo {
  display: inline-block;

  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--acent-color);

  &--header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &--footer {
    margin-bottom: 20px;
  }

  &__header {
    color: var(--logo-header-color);
  }

  &__footer {
    color: var(--footer-color);
  }
}
