.header-page {
  max-width: 1600px;
  margin: 0 auto;
  border-bottom: 1px solid $line-header;
}

.header-page__wraper {
  display: flex;
  align-items: center;
}

.logo--header {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo__header {
  color: $logo-header-color;
}