// background
$prime-bgc: #fff;
$first-bgc: #2f303a;
$second-bgc: #f5f4fa;
$work-desc-bgc: rgba(47, 48, 58, 0.8);

// text color 
$prime-color: #212121;
$second-color: #757575;
$acent-color: #2196f3;
$footer-btn-color: #ffffff;
$address-footer-contact: rgba(255, 255, 255, 0.6);

// line under header 
$line-header: #ececec;

// btn hover focus
$btn-active: #188ce8;

// overlay and modall
$overlay-hero: rgba(47, 48, 58, 0.4);
$modall-hero: rgba(0, 0, 0, 0.2);
$overlay-project: rgba(33, 150, 243, 0.9);

// icon
$social-color: #afb1b8;
$social-footer-bgc: rgba(255, 255, 255, 0.1);

// logo 
$logo-header-color: #000000;
$logo-footer-color: #ffffff;

// portfolio card
$potfolio-project-border: #eeeeee;

// Fonts
$logo-font: 'Raleway', sans-serif;
$prime-font: 'Roboto', sans-serif;

//cubic-bezer
$cubic-bezer: cubic-bezier(0.4, 0, 0.2, 1);

//breakpoint
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

