.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project__item {
  flex-basis: calc((100% - 60px) / 3);
}

.project__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms var(--cubic-bezer);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-overlay__wrap {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--btn-color);
  background-color: var(--overlay-project);

  transform: translateY(101%);
  transition: transform 250ms var(--cubic-bezer);

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0);
  }
}

.project__wrap {
  padding: 20px 24px;
  border-bottom: 1px solid var(--potfolio-project-border);
  border-right: 1px solid var(--potfolio-project-border);
  border-left: 1px solid var(--potfolio-project-border);
}

.project__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__descr {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-color);
}
