.work__title,
.team__title,
.clients__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.social__title {
  display: block;
  margin-bottom: 20px;

  color: $footer-btn-color;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}