.footer {
  background-color: $first-bgc;
  max-width: 1600px;
  margin: 0 auto;
}

.footer__wrap {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo--footer{
  margin-bottom: 20px;
}

.logo__footer {
  color: $logo-footer-color;
}